/*  
    Template from:
    https://mdbootstrap.com/docs/standard/extended/registration/
*/

body,
html {
  height: 100%;
  width: 100%;
  background-attachment: cover;
}

body {
  background: -webkit-linear-gradient(
    to bottom right,
    rgb(223, 223, 255),
    rgb(142, 168, 240)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom right,
    rgba(223, 223, 255, 1),
    rgba(142, 168, 240, 1)
  );

  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px;
}
.card-registration .select-arrow {
  top: 13px;
}

.form-outline {
  /* border: 1px solid #bdbdbd; */

  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

.textarea:focus,
input:focus {
  outline: none;
}
