body,
html {
  height: 100%;
  width: 100%;
  background-attachment: cover;
}

body {
  background: -webkit-linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(142, 240, 183)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom right,
    rgb(255, 255, 255, 1),
    rgb(142, 240, 183, 1)
  );

  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .gradient-custom {
  /* fallback for old browsers */
/* background: #9a93fb; */
/* background-attachment: fixed; */

/* Chrome 10-25, Safari 5.1-6 */
/* background: -webkit-linear-gradient( */
/* to bottom right, */
/* rgb(223, 223, 255), */
/* rgb(142, 168, 240), */

/* ); */

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* background: linear-gradient( */
/* to bottom right, */
/* rgba(223, 223, 255, 1), */
/* rgba(142, 168, 240, 1)    */
/* ); */
/* } */

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px;
}
.card-registration .select-arrow {
  top: 13px;
}

.form-outline {
  /* border: 1px solid #bdbdbd; */

  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

.textarea:focus,
input:focus {
  outline: none;
}
